## Homework Module 1

### Importing Libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.1.4'

### Loading datasets

In [3]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz')
zone_df = pd.read_csv('taxi+_zone_lookup.csv')

/tmp/ipykernel_16475/3341037512.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz')

### Create Engine to connect with Postgres

In [4]:

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

### Adding zones table to the ny_taxi database

In [6]:
zone_df.to_sql(name='zones', con=engine, if_exists='replace')

265

In [8]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

### Adding data for the green_taxi_data

In [9]:
# Create df iterable to enter the data in chunks
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)


# Make the columns in the database
# table name = 'ny_taxi_data'
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')


# Code will error out when there is no more data in the iterator
while True: 
        
    try:
        df = next(df_iter)
            
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
            
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        print('Chunk inserted...')
    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

Chunk inserted...
Chunk inserted...
Chunk inserted...

/tmp/ipykernel_16475/219065480.py:14: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Chunk inserted...
Chunk inserted...
Finished ingesting data into the postgres database